<h1>Welcome to the Landing Page</h1>

<h2>All the blogs</h2>

<% @posts.each do |post| %>
  <div class='well'>
    <h2> <%= post.title %> </h2>
    <p> <%= post.body %> </p>
    <%= link_to 'Read More', post_path(post), :class => 'btn btn-info' %>
  </div>
<% end %>